$background: #1680ad;
$color: #fff;

:host {
    display: block;
    width: 400px;
    height: 200px;
    padding: 20px;

    background: $background;
    color: $color;
    font-family: "Open Sans", sans-serif;

    strong {
        color: yellow;
    }
}
